.bottom .inset {
	display: flex;
	padding: 0 calc(25% - 29vh);
	height: 100%;
}

.bottom .promise {
	width: 205px;
	min-height: 100px;
	margin: auto 0;
	margin-right: calc(19vh - 50px);
	display: flex;
}

.promise .icon {
	min-width: 50px;
	font-size: 1.4em;
	text-align: center;
	line-height: 50px;
}

.promise .head {
	font-weight: bold;
	line-height: 50px;
}

.promise .desc {
	font-size: 0.8em;
}